@import '@theme/viewport.scss';
.link-button {
    display: inline-block;
    color: #000;
    text-align: center;
    letter-spacing: 1px;
    border: 2px solid #000;
    padding: 0.85rem 2rem;
    font-weight: 500;
    box-shadow: 4px 4px #000;
    // border-radius: 50px;
    transition-property: all;
    transition-duration: 0.3s;
    text-decoration: none;

    @include mobile {
        padding: 0.75rem 1rem;
    }

    &:hover {
        outline: 0;
        box-shadow: none;
        opacity: 1;
        transform: translate(3px, 3px);
    }
    &:active {
        outline: 0;
    }

    &.icon {
        padding: 0.5rem 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}
