@import '@theme/colors.module.scss';

$bg-gradient-1: linear-gradient(0deg, $C0 0%, $White 100%);
$bg-gradient-2: linear-gradient(180deg, $GradientColorPink 4.44%, $GradientColorBlue 94%);
$bg-gradient-3: linear-gradient(90deg, #ff9457 0%, #dea5f9 100%);
$bgGradient4: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(90deg, #ff9457 0%, #dea5f9 100%);

:export {
    bg-gradient-1: $bg-gradient-1;
    bg-gradient-2: $bg-gradient-2;
    bg-gradient-3: $bg-gradient-3;
    bgGradient4: $bgGradient4;
}
