@import '@theme/colors.module.scss';
@import '@theme/fonts.scss';
@import '@theme/viewport.scss';
@import '@theme/common.module.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'ClashDisplay' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    padding: 3rem 4rem;
    background-color: #fff;
    svg {
        overflow: inherit;
    }

    @include mobile {
        padding: 1.125rem;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.layout {
    max-width: 85rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000;
}

input,
button,
submit {
    border: none;
}

.details-modal-overlay {
    z-index: 1000;
    background: $SemiTransparentBlack !important;
}
