@import '@theme/viewport.scss';

.nav-bar {
    border-bottom: 2px solid #000;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #e6f4f1;

    .nav-container {
        display: flex;
        justify-content: space-between;
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;

        @include tablet {
            flex-direction: column;
        }

        .nav-left {
            h1 {
                font-size: 2rem;
                @include tablet {
                    text-align: center;
                }

                @include mobile {
                    font-size: 1.5rem;
                }
            }
        }

        .nav-right {
            display: flex;
            align-items: center;
            gap: 2rem;
            a {
                font-size: 1.25rem;
                font-weight: 500;
                transition: all 0.3s;

                &:hover {
                    text-decoration: underline;
                }
            }

            @include tablet {
                display: none;
            }
        }
    }
}
