@import '@theme/viewport.scss';
.experience {
    padding: 2rem;
    background-color: #f8eeec;
    border-bottom: 2px solid #000;

    @include mobile {
        padding: 0.3rem;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: 2px;
    }
}
